
*.csv
data/.ipynb_checkpoints/0.obtain_data-checkpoint.ipynb
.ipynb_checkpoints/0.obtain_data-checkpoint.ipynb
.ipynb_checkpoints/1.data_expo-checkpoint.ipynb
.ipynb_checkpoints/3.data_prep-checkpoint.ipynb
.ipynb_checkpoints/2.feature_select-checkpoint.ipynb
.ipynb_checkpoints/4.ML-checkpoint.ipynb
.ipynb_checkpoints/5.sumbit-checkpoint.ipynb
__pycache__/tufte.cpython-37.pyc
data/et_tuned.sav
data/rf_tuned.sav
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/data_dict-checkpoint.ipynb
.ipynb_checkpoints/tufte-checkpoint.py
tufte.py
*.sav
*.tf
.ipynb_checkpoints/4.ML-deep-checkpoint.ipynb
.ipynb_checkpoints/4.ML-deep-checkpoint.ipynb
